# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
dist-ssr/
*.local
/frontend/dist/

# Testing
coverage/

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: environment variables
.env
.env.local
.env.*.local

# Node.js
/frontend/node_modules/

# Laravel backend
/backend/vendor/
/frontend/dist/
backend/.env
/backend/storage/